button{
    border: none;
    border-radius: 5%;
    width: 100px;
    background-color: darkseagreen;
    align-items: center;
    margin: 2%;
}

.maro{
    display: flex;
    flex-direction: column;
    align-items: center;
}

