<form action="/add" method="post">
    <p>Título</p>
    <input type="text" name="title">
    <p>Conteúdo</p>
    <textarea name="cont"></textarea>
    <button type="submit">Cadastrar Post</button>
</form>